# File di configurazione di qmake
.qmake.stash
Makefile*

# Cartella di build
build/

# File temporanei di LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.lof
*.lot
*.bbl
*.blg

# Artefatti di Windows/WSL
*:Zone.Identifier
*.Zone.Identifier

# File compilato di LaTeX
main.pdf